.aboutusHeader {
    background-color: #CCDAE1;
    text-align: center;
    color: black;
    font-family: helvetica;
    margin-bottom: 15%;
    width: 90%;
}

.aboutusBody {
    background-color: #CCDAE1;
    padding: 3%;
    text-align: justify;
}

.hideBody {
    display: none;
}

#th1 {
    margin-top: 57px;
}
#tb1 {
    margin-top: 50px;
}

#content {
    padding-left: 8%;
}