/* Navbar */
#navbar {
    background-color: rgb(39, 149, 164);
}


.logoContainer {
    text-align: center;
}

#logo {
    max-width: 50px;
    margin: auto;
}

/* Hamburger menu */
#hamburgerMenuContainer {
    height: 100%;
}

.line1 {
    width: 20px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: black;
}

.line2 {
    width: 20px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: black;
}

.line3 {
    width: 20px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: black;
}


