/* Modal */
#modalBtn {
    width: 100%;
    height: 57px;
    border: none;
    background-color: #004358;
    color: #CCDAE1;
    font-size: 2.5vw;
}

#modalBtn:hover {
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 57px;
    width: 100%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    color: #CCDAE1;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 5%;
}

/* Content */
#content {
    height: 100vh;
    background-color: #A0B3C1;
    padding-left: 8%;
}