body {
    position: static;
    background: #A0B3C1;
    font-family: HelveticaNeue-Light;
}

#mainPic{
    position: relative;
    background-color: #E7ECEF;
    width: 100%;
    top: 56px;
}

.frontpageHeader {
    position: relative;
    background: whitesmoke;
    width: 70%;
    height: 300px;
    text-align: center;
    font-family: helvetica;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#frontPageImageThing {
    text-align: center;
    background-image: url("/public/pictures/Studentklinikken.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    min-height: 400px;
    padding-top: 30%;
}

#imageText {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vw;
    position: relative;
    top: 30px;
}

.contentButton{
    position: relative;
    top: 80%;
    color: white;
    background-color: #7E9DAD;
    padding: 14px 25px;
    text-decoration: none;
    margin: auto;
}


