/* Core CSS */
* {
    box-sizing: border-box;
}

*:before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #3c455d;
    font-family: Arial, Helvetica, sans-serif;
}

.mainContainer {
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100vh; /* height of your footer */
}

/* Setup rows and columns */
.col1 {
    width: 8.33%;
}

.col2 {
    width: 16.66%;
}

.col3 {
    width: 25%;
}

.col4 {
    width: 33.33%;
}

.col5 {
    width: 41.66%;
}

.col6 {
    width: 50%;
}

.col7 {
    width: 58.33%;
}

.col8 {
    width: 66.66%;
}

.col9 {
    width: 75%;
}

.col10 {
    width: 83.33%;
}

.col11 {
    width: 91.66%;
}

.col12 {
    width: 100%;
}

[class*="col"] {
    float: left;
    padding: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#activeLink {
    color: #000000;
    background-color: #dddddd;
}

/* Navbar */
#navbar {
    position: fixed;
    width: 100%;
    background-color: #3c455d;
    margin: 0;
    width: 100%;
    padding: 0;
    position: fixed;
    z-index: 1;
}


.logoContainer {
    text-align: center;
}

#logo {
    max-width: 80px;
    padding-top: 15px;
    
}

/* Hamburger menu */
#hamburgerMenuContainer {
    float: left;
    margin-top: 12px;
}

#hamburgerMenuContainer:hover {
    cursor: pointer;
}

#navbar li {
    list-style-type: none;
}

.line1, .line2, .line3 {
    width: 30px;
    height: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #CCDAE1;
    margin-left: 30px;
}

/* Hamburgermenu overlay */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #202430;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    box-shadow: 10px 20px 30px black;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 3vw;
    color: white;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 7vw;
}

/* Content */
#content {
    height: 100vh;
}

#contentPusher {
    height: 10vh;
}

/* Footer */
#footer {
    background-color: #3c455d;
    height: 100vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

#footer h5 {
    font-size: 7vh;
}

#footer p {
    font-size: 3vh;
    list-style: none;
}

#footer a {
    font-size: 3vh;
    color: white;
}

/* Modal */
#userModalBtn {
    width: 25px;
    margin-top: 16px;
    float: right;
    margin-right: 30px;
}

#userModalBtn:hover {
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    width: 100%; /* Full width */
    height: 50vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #202430;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0 10px 20px black;
    overflow: scroll;
}

.modal form input{
    width: 80vw;
    margin-bottom: 5%;
    text-align: center;
    padding: 10px;
    background-color: #202430;
    font-size: 4vw;
    color: white;
    outline: none;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}

.modal form input:focus {
    border-left-style: solid;
    border-right-style: solid;
}

.modal .button {
    text-align: center;
    padding: 10px;
    height: auto;
    font-size: 4vh;
    background-color: rgba(0,0,0,0.0);
    color: white;
    border: 1px solid white;
}

.modal .button:hover {
    border-color: #202430;
    color: #202430;
    background-color: white;
}

.modal-content {
    background-color: white;
    border: 1px solid white;
}

.close {
    color: white;
    font-size: 8vw;
    font-weight: bold;
}

.close:hover {
    cursor: pointer;
}

/* log in and register stuff */
.button {
    border: 1px solid white;
    border-radius: 10%;
    width: 25vh;
    height: 50px;
    padding-top: 15px;
    margin: auto;
}

.button:hover {
    cursor: pointer;
}

/* Error styling */
.error {
    color: red;
}