/* Content */
.treatmentHeader {
    background-color: #CCDAE1;
    text-align: center;
    color: black;
    margin-bottom: 15%;
    width: 90%;
}

.treatmentBody {
    background-color: #CCDAE1;
    padding: 2%;
    text-align: justify;
}

.hideBody {
    display: none;
}

#th1 {
    margin-top: 57px;
}

#content {
    padding-left: 8%;
}
