/* Content */
#content {
    height: 100vh;
    background-color: #A0B3C1;
    padding-left: 8%;
}

.treatmentHeader {
    background-color: #7E9DAD;
    text-align: center;
    color: black;
    font-family: helvetica;
    margin-bottom: 5px;
    width: 90%;
}

.treatmentBody {
    background-color: #E7ECEF;
    padding: 2%;
    text-align: justify;
}

.hideBody {
    display: none;
}

#th1 {
    margin-top: 57px;
}

/* Footer */
#footer {
    background-color: #E7ECEF;
    padding: 3vw;
    height: 93vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer h5 {
    text-align: left;
    font-size: 3vw;
}

#footer p {
    font-size: 2.5vw;
    list-style: none;
    text-align: left;
}

#footer a {
   font-size: 2.5vw;
}
