/* --- Layout styling --- */
body{
  display: grid;
  grid-template-areas:
  "header header header"
  "nav main div"
  "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 13% 2fr 13%;
  background: #E0D7D3;
  height: 100vh;
  margin: 0;
  font-family: HelveticaNeue-Light;
} 

.navbar{
  display: inline-block;  
  height: 100%;
  width: 100vw;  
  grid-area: header;
  background: #3c455d;
  list-style: none;
  margin: 0;
  overflow: hidden;
  justify-content: center;
}

.navbar li{
    float: left;
    width: 25%;
    text-align: center;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 1.4vw;
}

.navbarTextLi {
    margin-top: 15px;
}

.leftTextLi{
    margin-top: 15px;
    
}

.navbarImgLi {
    margin-top: 10px;        
}

.navbarImg {
  width: 120px;
  height: 45px;
  margin-left: 1px; 
}

.navbar a:hover{
    background-color: #bebebe;
    color: #8c8d8f;
}
#sideNav{
  grid-area: nav;
  background: #E0D7D3;
  height: 100%;
  opacity:70%
}
#notes{
  grid-area: div;
  background:#E0D7D3;
  opacity:70%;
  height: 100%;
}

#footer{
  grid-area: footer;
  background:#3c455d;
}

/* --- Content on page --- */

#mainContent{
  display: grid;  
  grid-template-columns: repeat(4, 1fr); 
  background-color:#ffffff;
  grid-area: main;
  grid-gap: 5%; 
}

.studentsContainer{
  border: #000000 2px solid;     
  width: 40vw;
  height: 20vw;
  margin-top: 19%; 
  position: relative; 
  margin-left: 7%; 
}
/* ---- search and filter dropdown in studentsContainer---- */

/* Dropdown Button */
.dropbtn {
  background-color: #3c455d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;    
}

/* Dropdown button changens color when you hover and focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #989fb3;
}

/*  search field */
#userInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 18px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* Search field when it gets focus/clicked on */
#userInput:focus {outline: 3px solid #ddd;}

/* The dropdown container that holds the content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%
} 
.dropdown button{
  width: 100%;
}
/* Dropdown Content */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.teachersContainer{
  border: #000000 2px solid;
  width: 20vw;
  height: 30vw;
  text-align: center; 
  font-size: 2.2vh;
  margin-top: 40%;
  position: relative;

}
#headline {
    margin-top: 0;
    background-color:#3c455d;
    padding: 5%;
    color: white;
    font-weight: lighter;    
}

.teachersList li{
    list-style: none;
    margin-top: 15%;
}

.teachersList li a{
  color: #000000;
  text-decoration: none;
  margin-right: 18%;
}
.reseptionInfo{
  top: 40px;
  }

#infoHeadline{
    color: white;
}

#contactInfo{
    color: white;
}
