/* --- Layout styling --- */
body{
  display: grid;
  grid-template-areas:
  "header header header"
  "nav main div"
  "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 13% 2fr 13%;
  background: #E0D7D3;
  height: 100vh;
  margin: 0;
  font-family: HelveticaNeue-Light;
} 

.navbar{
  display: inline-block;  
  height: 100%;
  width: 100vw;  
  grid-area: header;
  background: #3c455d;
  list-style: none;
  margin: 0;
  overflow: hidden;
  justify-content: center;
}

.navbar li{
    float: left;
    width: 25%;
    text-align: center;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 1.4vw;
}

.navbarTextLi {
    margin-top: 15px;
}

.leftTextLi{
    margin-top: 15px;
    
}

.navbarImgLi {
    margin-top: 10px;        
}

.navbarImg {
  width: 120px;
  height: 45px;
  margin-left: 1px; 
}

.navbar a:hover{
    background-color: #bebebe;
    color: #8c8d8f;
}
#sideNav{
  grid-area: nav;
  background: #E0D7D3;
  height: 100%;
  opacity:70%
}
#notes{
  grid-area: div;
  background:#E0D7D3;
  opacity:70%;
  height: 100%;
}

#footer{
  grid-area: footer;
  background:#3c455d;
}

/* --- Content on page --- */

#mainContent{
  display: grid;  
  grid-template-columns: repeat(4, 1fr); 
  background-color:#ffffff;
  grid-area: main;
  grid-gap: 5%; 
}

.studentsContainer{
  border: #000000 2px solid;     
  width: 40vw;
  height: 20vw;
  margin-top: 19%; 
  position: relative; 
  margin-left: 7%; 
  overflow: auto;
}
table {
  border-collapse: collapse;
  width: 100%; 
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
th {
  background-color: #e0d7d3;
  color: #000;
}

.teachersContainer{
  border: #000000 2px solid;
  width: 20vw;
  height: 30vw;
  text-align: center; 
  font-size: 2.2vh;
  margin-top: 40%;
  position: relative;
}

#headline {
    margin-top: 0;
    background-color:#3c455d;
    padding: 5%;
    color: white;
    font-weight: lighter;    
}

.teachersList li{
    list-style: none;
    margin-top: 15%;
}

.teachersList li a{
  color: #000000;
  text-decoration: none;
  margin-right: 18%;
}
.reseptionInfo{
  top: 40px;
  }

#infoHeadline{
    color: white;
}

#contactInfo{
    color: white;
}
