body{
  display: grid;
  grid-template-areas:
  "header header header"
  "nav article div"
  "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 12% 1fr 15%;
  background: #eee;
  height: 100vh;
  margin: 0;
  font-family: HelveticaNeue-Light;
} 


#headLine {
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
.navbar{
  display: inline-block;  
  height: 100%;
  width: 100vw;  
  grid-area: header;
  background: #3c455d;
  list-style: none;
  margin: 0;
  overflow: hidden;
  justify-content: center;
}

.navbar li{
    float: left;
    width: 25%;
    text-align: center;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 1.4vw;
}

.navbarTextLi {
    margin-top: 15px;
}

.leftTextLi{
  margin-top: 15px;
}

.navbarImgLi {
    margin-top: 10px;        
}

.navbarImg {
  width: 120px;
  height: 45px;
  margin-left: 1px; 
}

.navbar a:hover{
    background-color: #bebebe;
    color: #8c8d8f;
}

#headLine {
  margin-left: 10%;
}

#sideNav{
  grid-area: nav;
  background:#E0D7D3;
}
#mainContent{
  grid-area: article;
  background: #fff;
}
#notes{
  grid-area: div;
  background:#E0D7D3;
}
#footer{
  grid-area: footer;
  background:#3c455d;
}

/*calendar*/
ul {list-style-type: none;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #3c455d;
  text-align: center;

}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
  
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}
/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}