body{
  display: grid;
  grid-template-areas:
  "header header header"
  "nav article div"
  "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 12% 1fr 15%;
  background: #CCDAE1;
  height: 100vh;
  margin: 0;
  font-family: HelveticaNeue-Light;
} 
#topNav{
  grid-area: header;
  color: white;
  background: #606b75;
  text-align: center;
}

#headLine {
  margin-left: 100px;
}

#topNav .menuIcon img{
  float: left;
  height: 25px;
  width: 35px;
  margin-top: -10px;
  margin-left: 2%;
  
}

#titlePosDiv {
  padding: 15px;
  margin: auto;
  width: fit-content;
}

#topNav h2{
  color: white;
  display: inline;
}


#topNav img{
  float: right;
  width: 120px;
  height: 45px;
  margin: 10px;
  padding-right: 10px;
}
#sideNav{
  grid-area: nav;
  background: #ffffff;
  opacity: 100%;
}
#mainContent{
  grid-area: article;
  background: #fefefe;
}
#notes{
  grid-area: div;
  background:#fefefe;
}
#footer{
  grid-area: footer;
  background: #fefefe;
}





  /* Hamburgermenu overlay */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  opacity: 90%;
  height: 100%;
  width: 15%;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  bottom: 0%;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: left; 
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 20px;
  text-decoration: none;
  font-size: 2vw;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 2px;
  right: 45px;
  font-size: 60px;
  
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.pForm {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 160px;
  border: none;
  width: 20%; /* Could be more or less, depending on screen size */
}

#headLine2 {
  margin-top: 10%;
  font-family: HelveticaNeue-Light;
}
/* Style the tab */
.tab {
  float: left;
  background-color: #fefefe;
  width: 20%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #606b75;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 300px;
  display: none;
  font-family: HelveticaNeue-Light;
}

/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.tablinks {
  font-family: HelveticaNeue-Light;
}