body{
  display: grid;
  grid-template-areas:
  "header header header"
  "nav article div"
  "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 12% 1fr 15%;
  background: #CCDAE1;
  height: 100vh;
  margin: 0;
  font-family: HelveticaNeue-Light;
} 
#topNav{
  grid-area: header;
  color: white;
  background: #3c455d;
  text-align: center;
}

#headLine {
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

#topNav .menuIcon img{
  float: left;
  height: 25px;
  width: 35px;
  margin-top: -10px;
  margin-left: 2%;
  
}

#titlePosDiv {
  padding: 15px;
  margin: auto;
  width: fit-content;
}

#topNav h2{
  color: white;
  display: inline;
}


#topNav img{
  float: right;
  width: 120px;
  height: 45px;
  margin: 10px;
  padding-right: 10px;
}
#sideNav{
  grid-area: nav;
  background: #e0d7d3;
  opacity: 100%;
}
#mainContent{
  grid-area: article;
  background: #fefefe;
}
#notes{
  grid-area: div;
  background: #e0d7d3;
  opacity: 100%;
}
#footer{
  grid-area: footer;
  background: #3c455d;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #e0d7d3;
  color: #000;
}

/* MODAL */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  height: 400px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  width: 40%;
  background-color: #3f4658;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 300px;
  margin-top: 3%;
}

#myBtn:hover {
  background-color: #555a68;
}

/* FORM */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #374658;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #555a68;
}

div.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}