body{
  display: grid;
  grid-template-areas:
  "header header header"
  "nav article div"
  "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 12% 1fr 15%;
  background: #CCDAE1;
  height: 100vh;
  margin: 0;
  font-family: HelveticaNeue-Light;
} 
#topNav{
  grid-area: header;
  color: white;
  background: #87A8B7;
  text-align: center;
}
#topNav .menuIcon img{
  float: left;
  height: 25px;
  width: 35px;
  margin-top: -10px;
  
}
#topNav h2{
  color: white;
  display: inline;
}
#topNav img{
  float: right;
  width: 120px;
  height: 45px;
  margin: 10px;
  padding-right: 10px;
}
#sideNav{
  grid-area: nav;
  background: #E0D7D3;
  opacity: 80%;
}
#mainContent{
  grid-area: article;
  background: #E0D7D3;
}
#notes{
  grid-area: div;
  background:#E0D7D3;
}
#footer{
  grid-area: footer;
  background:#606b75;
}

